@model IEnumerable<BabySitter.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name_category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hide)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name_category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hide)
        </td>
        <td>

            <a href="@Url.Action("Edit", "Categories", new { id=item.id_category })" class="btn btn-outline-primary btn-rounded">Edit</a>
            <a href="@Url.Action("Details", "Categories", new { id=item.id_category })" class="btn btn-outline-primary btn-rounded">Chi Tiết</a>
            @*@Html.ActionLink("Delete", "Delete", new { id = item.id_category })*@
        </td>
    </tr>
}

</table>
