@model IEnumerable<BabySitter.Models.Logo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
Avata Logo        </th>
        <th>
            @Html.DisplayNameFor(model => model.hide)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
<img src="~/Content/upload/@item.img" />        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hide)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_logo }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_logo }) |
            @*@Html.ActionLink("Delete", "Delete", new { id=item.id_logo })*@
        </td>
    </tr>
}

</table>
